<h1>Acerca de los Comics</h1>
<hr>


<h3>¿Qué es un comic?</h3>
<p>Técnicamente, un cómic es un relato explicado mediante viñetas o recuadros que contienen ilustraciones. Algunas o
    todas las viñetas pueden contener, además, un texto más o menos breve. Esta definición simple explica por qué se
    considera un formato tan versátil: el uso creativo que podemos darle a las viñetas, las ilustraciones, las palabras
    y los recursos que veremos más adelante, demuestran que es imposible agotar sus posibilidades.</p>
<p style="text-align: center">
    <img src="assets/img/superheroes.jpg" width="50%" alt="">
</p>
<h3>Origen de los superheroes</h3>
<p>Los superhéroes son una creación norteamericana que empezó a idearse allá por los años 20 (incluso el nombre de
    «superhéroe» esta legalmente registrado sólo en Estados Unidos), pero sin embargo, fue Supermán el que en el año
    1938 abrió el camino para este mundo del cómic. A partir de ahí fueron todos apareciendo siempre con la idea común
    de ayudar al mundo y colaborar y luchar por el bien, aunque en muchas épocas estuviera muy politizado, como en el
    caso de las aventuras del Capitán América.</p>
<p>Supermán, Batman, la Antorcha Humana o Namor fueron los primeros héroes, la verdadera edad de Oro para el mundo del
    cómic llegó en los años 60. En aquella época aparecieron Los 4 Fantásticos, Hulk, y Spiderman entre otros muchos.
    Stan Lee y Jack Kirby fueron los dos grandes que se merecen la mención especial de aparecer con letras de oro en la
    historia del cómic, porque de sus lápices surgieron los mejores superhéroes y las mejores aventuras…</p>