  .navbar .navbar-collapse {
    text-align: center;
  }


  @media (max-width: 991px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .buscador> input{
      width: 100%;
    }
    .buscador> button{
      width: 100%;
    }
}