<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="../../assets/img/A-64.png" style="width: 30; height: 30;" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/heroes']">Heroes</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/subscribers']">Suscriptores</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/video']">Video</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/about']">Acerca De</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0 buscador">
            <input class="form-control mr-sm-2 my-2" type="text" placeholder="Buscar Heroe" #buscarTexto
                (keyup.enter)="buscarUnHeroe(buscarTexto.value)">
            <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="button"
                (click)="buscarUnHeroe(buscarTexto.value)">Buscar</button>
        </div>
    </div>
</nav>