@media only screen and (max-width: 320px) {
    .card-columns {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

@media only screen and (min-width: 321px) and (max-width: 640px){
    .card-columns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 641px) and (max-width: 960px){
    .card-columns {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media only screen and (min-width: 961px) and (max-width: 1280px){
    .card-columns {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media only screen and (min-width: 1281px) and (max-width: 1600px){
    .card-columns {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media only screen and (min-width: 1601px){
    .card-columns {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}