<div class="jumbotron">
  <h1 class="display-4">Hola, Bienvenido</h1>
  <p class="lead">En está pagina podrás conocer lo más reciente acerca de tus superheroes favoritos; su historia,
    apariciones, peliculas y más.</p>
  <hr class="my-4">
  <p>Si te interesa suscribirte al newsletter de nuestra página, da clic abajito</p>
  <a class="btn btn-warning btn-lg" data-target="#suscribirseForm" role="button" data-toggle="modal">suscribir</a>
</div>

<!-- Modal -->
<div class="modal fade" id="suscribirseForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de suscripción al newsletter</h5>
        <button type="button" class="close" data-dismiss="modal" #closebutton aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="was-validated row" [formGroup]="reactiveForm">

          <div class="col-md-6">
            <label for="validationCustom01" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="validationCustom01" formControlName="nombre"
              [(ngModel)]="suscriptor.nombre" required>
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationCustom02" class="form-label">Apellido(s)</label>
            <input type="text" class="form-control" id="validationCustom02" formControlName="apellido"
              [(ngModel)]="suscriptor.apellido" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="validationCustom02" class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="validationCustom02" formControlName="birth"
              [(ngModel)]="suscriptor.birthdate" required>
          </div>
          <div class="col-md-12 mb-3">
            <label for="customControlValidationGroup" class="form-label">Sexo:</label>
            <div class="custom-control custom-radio" id="customControlValidationGroup">
              <input type="radio" class="custom-control-input" id="customControlValidation2" name="sexo"
                [(ngModel)]="suscriptor.sexo" value="hombre" formControlName="sexo" required>
              <label class="custom-control-label" for="customControlValidation2">Hombre</label>
            </div>

            <div class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" id="customControlValidation3" name="sexo"
                [(ngModel)]="suscriptor.sexo" value="mujer" formControlName="sexo" required>
              <label class="custom-control-label" for="customControlValidation3">Mujer</label>
              <div class="invalid-feedback">Selecciona un sexo por favor</div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">email</span>
              <input type="email" class="form-control" id="validationCustomUsername" [(ngModel)]="suscriptor.email"
                aria-describedby="inputGroupPrepend" formControlName="email" required>
              <div class="invalid-feedback">
                Por favor ingresa un email valido.
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="customControlValidation1" formControlName="terms"
                required>
              <label class="custom-control-label" for="customControlValidation1">Acepta terminos y condiciones</label>
              <div class="invalid-feedback">Por favor acepta los terminos y condiciones.</div>
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <button type="button" class="btn btn btn-success btn-block" [disabled]="reactiveForm.invalid"
              (click)="agregarSuscriptor()" data-dismiss="modal">Continuar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>